/* Por ID */

#img_logo{
    margin-left: 3%;
    margin-top: 3%;
    width: 140px;
    height: 35px;
}
#img_banner{
    width: 100%;
    height: auto;
}
/* Por Etiqueta */

nav{
    margin-left: -14px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-left: 20px;
}

/* Por Clase */
.morado{
    color: #c4a1ff;
}